$base:#303F9F;
$yellow-base:#FBC02D;
$white-txt-color:#F5F5F5;
$bg-circle:#FBC02D;
$card-line-color:#F5F5F5;
$card-hover-color:#EEEEEE;
$line-detail-color:#212121;
$icon-bus-color:#BDBDBD;

/*Bus detail color*/
$grayB:#E0E0E0;
